<div class="mainbox">
  <div class="socail">
    <h2>SERVICE MODELS WE OFFER</h2>
    <p>
      We provide solutions that drive growth. Over a decade of serving a diverse
      group of clients from tech startups to multi-national enterprises, we have
      prepared a proven success mechanism ready to be tailored for you. We have
      optimized our growth not by following the steps of top IT consulting
      firms, but creative innovative solutions. Serving our clients’ best
      interests, we provide flexible and standard services categorized in three
      delivery models that we can tailor around your needs targeting your
      organizational requirements, goals and needs. Fast growth usually bundled
      with up to 60% of cost savings
    </p>
  </div>
  <div class="box1">
    <div class="div1">
      <div class="txt1">WE ARE YOUR TECH TEAM</div>
      <div class="txt2">YOUR VISION – OUR STRATEGY, OUR DELIVERY</div>
      <hr />
      <div class="txt3">
        A holistic approach to your technology development with a fully managed
        solution where we are your complete IT team. Our dedicated experts
        manage your project, and full ownership of the development and
        technological operations to provide you with the best results.
      </div>
    </div>

    <div class="div1 div2">
      <div class="txt1 txxt">FIX COST PROJECT DELIVERY</div>
      <div class="txt2 txxt">YOUR VISION, YOUR STRATEGY – OUR DELIVERY.</div>
      <hr  color="white"/>
      <div class="txt3 txxt">
        A strategic approach to your project delivery where we take requirements
        from you and deliver a complete working solution with full ownership of
        project delivery. While the project has your vision and strategy, our
        team works to deliver your dream project.
      </div>
    </div>
    <div class="div1">
      <div class="txt1">REMOTE CLOUD EMPLOYEES​</div>
      <div class="txt2">SELF MANAGED – UPTO 60% COSTS SAVINGS</div>
      <hr />
      <div class="txt3">
        A cloud service providing you direct access to the top IT experts in the
        world, either working from our offices or stationed on-site according to
        your requirements . We can deploy experts from our existing pool or hire
        on-demand.
      </div>
    </div>
  </div>
</div>
