<div class="mainbox">
    <div class="box1">
        <div class="div1">
            <div class="h11">AGILITY TO YOUR BUSINESS</div>
            <div class="h12">We are strongly focused on providing IT
                 consulting services and solutions to fit modern 
                 day business challenges. As the world is now 
                 increasingly dependent on IT to create ease of business, 
                 Zepto Systems is your trusted IT partner. Our services and 
                 terms are tailored for agility to the needs of our clients in 
                 modern cloud-enabled world. fully covering from development to 
                 support and from IT architecture to disaster recovery.</div>
        </div>
        <div class="div1">
            <div class="h11">IT BRILLIANCE</div>
            <div class="h12">Integrate state-of-the-art technological solutions to your business
                 with us. Decide what kind of help you require and we will tailor our IT solutions
                  and teams around your needs.

                Our services range from IT consulting to fully managed and unmanaged IT assistance.</div>
            <div>
    </div>
</div>
