.mainbox{
    height: 470px;
    border: none
}
.div1{
    height: 354px;
    width: 517px;
    border-top:1px solid #b3b3b3;
    margin-top: 50px;
}
.box1{
    display: inline-flex;
    padding: 60px;
    margin-left: 60px;
    gap: 40px;
   
}
.h11{
    font-size: 30px;
    font-family: frank ruhl libre;
    font-weight: 600;
    margin-top: 40px;
}
.h12{
    font-size: 17px;
    color: #555555;
    font-family: frank ruhl libre;
    margin-top: 20px;
    font-weight: 500;
    letter-spacing:1.1px;
}