<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
        <img src="../../../assets/zepto-logo.png" alt="" class="img1">
        <hr>
                <ul class="social-network social-circle">
                 <li><a href=""  title="Facebook"><i class="bi bi-facebook icon"></i></a></li>
                 <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="bi bi-linkedin icon"></i></a></li>
                 <li><a href="#" class="icoFacebook" title="twitter"><i class="bi bi-twitter icon"></i></a></li>
                 <li><a href="#" class="icoLinkedin" title="youtube"><i class="bi bi-youtube icon"></i></a></li>
                </ul>       
        </div> 
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
        
          <ul class="list-unstyled">
            
            <li class="margin"><a >Blog</a></li>
            <li  class="margin"><a >Career</a></li>
            <li  class="margin"><a >About</a></li>
            <li  class="margin"><a >Case Studies</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <ul class="list-unstyled">
            <li class="margin"><a >Application Customer Support <br>As Services</a></li>
            <li class="margin"> <a >Cyber Security</a></li>
            <li class="margin"><a >Backend Developers</a></li>
            <li class="margin"><a >Custom cloud and <br>Infrastructures</a></li>
            
          </ul>
        </div>
      </div>

   
    <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <ul class="list-unstyled">
            <li class="margin"><a >Services</a></li>
            <li class="margin"><a >Web Development Services</a></li>
            <li class="margin"><a >Software Development</a></li>
            <li class="margin"><a >Front-end Developers</a></li>
            <li class="margin"><a >Mobile App Development</a></li>
            <li>
              <a ></a>
            </li>
          </ul>
        </div>
      </div>
      

    
    </div>
  <div class="row">
    <div class="col-md-12 ">
      <p  class="text-center "> Copyright 2021 - Zepto Systems</p>
    </div>
  </div>


  </div>
  </div>
</footer>