<div class="row" [ngStyle]="{'width': 'max-content', 'background-color': 'white'}">
  <div class="col-sm-6 col-sx-6" [ngStyle]="{ 'background-color': 'grey' }">
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sx-6" [ngStyle]="{ 'background-color': 'grey' }">
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
      <div class="col-sm-6 col-sx-6">
        <app-video></app-video>
      </div>
    </div>
  </div>
</div>
