<div class="row">
  <div
    class="col-sm-6 col-sx-6"
    [ngStyle]="{ 'background-color': 'white', border: '0.5px solid whitesmoke' }"
  >
    <img src="../../../assets/img-box-comp.png" alt="" class="image" />
  </div>
  <div class="col-sm-6 col-sx-6" [ngStyle]="{ 'background-color': 'blue' }">
    <div class="box">
      <h2>AN IT TEAM YOU CAN TRUST</h2>
      <p [ngStyle]="{'font-style':'italic'}">Zepto Systems is your technology partner in shaping your business</p>
      <p>
        Get the industry best IT consulting as well as outsourcing services with
        our skilled resources stationed in house or deployed remote, readily
        available at our offshore offices and save up to 60% of the in-house
        costs. You can either outsource your IT project to our skilled staff or
        hire a single developer as an extension of your in-house IT team.
        Contact today and get started in less than 8 weeks!
      </p>
    </div>
  </div>
</div>
