<div class="box1">
    <div class="inline">
       <img src="../../../assets/icon1.png" alt="">
       <div class="text1" >WEB DEVELOPERS</div>
    </div>
    <div>
       <img src="../../../assets/icon2.png" alt="">
       <div class="text1">MOBILE DEVELOPERS</div>
    </div>
    <div>
       <img src="../../../assets/icon3.png" alt="">
       <div class="text1">DATABASE EXPERTS</div>
    </div>
    <div>
       <img src="../../../assets/icon4.png" alt="">
       <div class="text1">CMS DEVELOPMENT</div>
    </div>
   </div>
   