<div class="box">
  <h2>CASE STUDIES</h2>
  <p>
    Take a look at our case studies to check how enterprises are leveraging
    Zepto’s talent to achieve sustainability, drive growth and augment success.
    We have assembled a few of our many successful deliveries in sectors like
    education, real estate, banking and finance, and non-profits, etc. If you
    can’t find any case study related to your industry, you can contact us to
    find about our services in your niche.
  </p>
  <div class="row">
    <div class="col-sm-4" [ngStyle]="{ 'background-color': 'white' }">
      <img src="../../../assets/image2.png" alt="real-estate" class="side-img"/>
    </div>
    <div class="col-sm-8" [ngStyle]="{ 'background-color': 'white' }">
      <div class="row">
        <div class="col-sm-6 img-container" [ngStyle]="{ 'background-color': 'white' }">
          <img src="../../../assets/image3.png" alt="" class="image" />
          <p class="title">Real Estate</p>
        </div>
        <div class="col-sm-6 img-container" [ngStyle]="{ 'background-color': 'white' }">
          <img src="../../../assets/image4.png" alt="" class="image" />
          <p class="title">Embedded Software</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 img-container" [ngStyle]="{ 'background-color': 'white' }">
          <img src="../../../assets/image5.png" alt="" class="image" />
          <p class="title">Education</p>
        </div>
        <div class="col-sm-6 img-container" [ngStyle]="{ 'background-color': 'white' }">
          <img src="../../../assets/image6.png" alt="" class="image" />
          <p class="title">Human Resources</p>
        </div>
      </div>
    </div>
  </div>
</div>
