
<div class="mainbox">
    <div class="box1">
        <div class="txt1">WHY CHOOSE ZEPTO SYSTEMS' IT OUTSOURCING SERVICES</div>
        <div class="txt2">We are solution providers. Our clients have used our remote 
            development services to build highly intuitive, feature packed,
             and sustainable software solutions. Here is why you should choose our 
             IT outsourcing services for your IT project:</div>
    </div>
    <div class="box2">
        <div class="box3">
            <ul>
                <li class="txt3">The average recruitment timeline for an IT job is 3-6 months. Instead of wasting your time and money on the hiring process, hire a remote employee from Zepto Systems who is worth  it.</li>
               <li class="txt3">No Contracts, efficient deployment, agile methodology, screened and tested experienced IT experts ready to start on our IT project.</li>
               <li class="txt3">How much will ‘downtime’ affect your business while you search for an IT professional? With us, you get an instant replacement in case a key employee quits.</li>
            </ul>
        </div>
    </div>
</div>
