<div class="mainbox">
  <div class="txt1">LATEST BLOG POSTS</div>
  <div class="box1">
    <div class="div1">
      <a href="#"
        ><img src="../../../assets/zepto-IT-recruitment-1536x864.png" alt=""
      /></a>
      <a href=""
        ><div class="h11">
          Top 10 Tips for Choosing IT Recruitment Company
        </div></a
      >
      <div class="h12">
        Whether you Value cost, Time, or find the best IT Professional, Hiring a
        Top IT Recruitment Company is Always the Best Option.
      </div>
    </div>
    <div class="div1">
      <a href="#">
        <img src="../../../assets/IT-Recruitment-1-1536x864.png" alt=""
      /></a>
      <a href=""
        ><div class="h11">
          Top Reasons Businesses Should Use IT Recruitment Services
        </div></a
      >
      <div class="h12">
        The IT Recruitment Company’s Job is to Discover the Exact best Candidate
        (Software engineers & Developers) for your Business, not The Just Best
        Applicant.
      </div>
    </div>
  </div>
</div>
