<div class="main">
  <div class="mainbox row">
    <div class="box1 col-sm-6">
      <p [ngStyle]="{'font-style': 'italic'}">How are we helping our customers ?</p>
      <h2>TAKE A LOOK AT OUR CASE STUDIES</h2>
      <p>
        Our IT consulting services have befitted many enterprises streamline
        their business and augment growth. providing, back-end, front-end, full
        stack and mobile application developers, quality assurance (QA, SQA & QA
        automation) experts, system administrators , DevOps engineers , support
        engineers , technical managers and cybersecurity experts on demand basis
        working for them remotely from our offices. We assist our valued clients
        in bridging the skill gaps, speeding up their technology delivery
        functions, improving efficiency and reducing more than half of the
        costs.
      </p>
    </div>
    <div class="box2 col-sm-6">
      <h2>WE ARE SERVING</h2>
      <p>
        We excel in delivering the best-suited solution as per the custom needs,
        be it small start-ups in their ideation phase or mid-size businesses
        focusing on growth or large enterprises actively optimizing processes
        across varied industries.
      </p>
    </div>
  </div>
</div>
